:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
color: #333;
line-height: 1.6;
}

a{
    text-decoration: none;
    color: #333;
}

h1,h3{
    font-weight: 300;
    line-height: 1.2;
    margin:10px 0;
}

img{
    width: 100%;
}
/* Navar */
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar a{
    color: white;
    padding: 10px;
    margin:0 10px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
    transition: all 1s ease-out;
}

.navbar ul{
    list-style: none;
}


/* Showcase */
.showcase{
    background-color: var(--primary-color);
    height: 400px;
    color: #fff;
    position: relative;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin:20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap:30px;
    overflow: visible;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    color:#333;
    padding:20px;
    margin:10px
}

.showcase-form{
    position: relative;
    top:60px;
    height: 350px;
    width: 400px;
    padding:40px;
    justify-self: flex-end;
    z-index: 1;
}

.showcase-form .form-control{
    margin:30px 0px;
}
.showcase-form input[type='text'],.showcase-form input[type='email']{
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline{
    background-color: transparent;
    border:1px #fff solid;
}

.showcase::before,.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom:-70px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 0;
    transform: skewY(-3deg);
}

/* Stats */
.stats{
    padding-top: 100px;
}

.stats-heading{
    max-width: 500px;
    margin:auto;
}

/* CLI */

.cli .grid{
    grid-template-areas: 'img img card-first'
    'img img card-second';
}

.cli .grid img{
    grid-area: img;
}

.card-first{
    grid-area: card-first;
}

.card-second{
    grid-area: card-second;
}

/* Cloud */

.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

/* Supported Language */

.supported-lang .grid{
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}

.supported-lang .card{
    align-self: stretch;
    transition: transform 0.2s ease-in;
}

.supported-lang .card:hover{
    transform: translateY(-10px);
}

/* footer */

.footer{
    margin-bottom: 0 !important;
    color: #fff;
}

.footer ul{
    list-style: none;
}
.footer li a{
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

.social-link li{
    padding: 10px;
}
/* Utaility */
.container{
    max-width: 1100px;
    margin:auto;
    padding:0 40px;
    overflow: auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3{
    grid-template-columns: repeat(3,1fr);
}

.text-center{
    text-align: center;
}

.my-1{
    margin:1rem 0;
}

.my-2{
    margin:1.5rem 0;
}

.my-3{
    margin:2rem 0;
}

.my-4{
    margin:3rem 0;
}
.my-5{
    margin:4rem 0;
}

.py-1{
    padding:1rem 0;
}

.py-2{
    padding:1.5rem 0;
}

.py-3{
    padding:2rem 0;
}

.py-4{
    padding:3rem 0;
}
.py-5{
    padding:4rem 0;
}

.bg-primary{
    background-color: var(--primary-color);
}

.lead{
    font-size: 30px;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;
}

.xl{
    font-size: 4rem;
}

.btn-dark{
    background-color: var(--dark-color);
    color: #fff;
    margin:10px 0px;
}

.bg-dark{
    background:var(--dark-color);
}